<h2><%= @event.event.project.title %></h2>
<h3><%= l @event.date %></h3>
<br />
<div class="row">
	<div class="col-md-3">
		<% if user_signed_in? %>
		  <% if !@event.users.include?(current_user) %>
			<%= link_to (t :teilnehmen), attend_event_occurrence_path(@event), :class=>"btn btn-default"%>
		  <% end %>
		<% else %>
		  <%= link_to (t :teilnehmen), attend_event_occurrence_path(@event), :class=>"btn btn-default"%>
		<% end %>
	</div>
	<div class="col-md-9">
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th><%= t :title %></th>
		      <th><%= t :category %></th>
		      <th><%= t :urgent %></th>
			<% if user_signed_in? %>
			  <% if current_user.try(:admin?) %>
		      <th colspan="2"></th>
		<% end %><% end %>
		    </tr>
		  </thead>

		  <tbody>
		    <% @event.users.each do |user| %>
		      <tr <% if Attend.where(:event_occurrence_id => @event.id, :user_id => user.id).pluck(:status).first == 1 %>
			class="danger"
			<% end %>>
		        <td><%= user.name %></td>
		        <td></td>
		        <td></td>
				<% if user_signed_in? %>
				  <% if current_user.try(:admin?) %>
		        <td></td>
		        <td></td>
				<% end %><% end %>

		      </tr>
		    <% end %>
		  </tbody>
		</table>

</div>
</div>