<br><br><div class="well">
	<div class="row">
	<div class="col-md-3">
<%= image_tag @user.avatar if @user.avatar %>
</div><div class="col-md-9">
<% if @user.name %>
<h3><%= @user.name if @user.name %></h3>
<% end %>
<% if @user.email %>
<p>Email: <%=link_to "E-Mail senden", "mailto://"+@user.email  %></p>
<% end%>
<% if (@user.telephone && @user.may_see_telephone?(current_user)) %>
<p>Telefon: <%= @user.telephone %></p>
<% end%>
<% if @user.provider == "facebook" %>
<p><%= link_to "zum Facebook-Profil", "http://facebook.com/"+@user.uid %></p>
<% end %>
<% @user.skills.any? %>
     <% @user.skills.each do |tag| %>
     <span class="label label-default">
        <%= tag.name %> 
     </span>&nbsp;
<% end %></div></div></div>