<div class="row">
	<div class="col-md-3">
		<%= image_tag @upload.file.url(:medium), style: "width: 100%;" %>
		</div>
		<div class="col-md-9">
<%= simple_form_for(@upload) do |f2| %>
  <%= f2.error_notification %>


	<div class="form-inputs">
	 <%= f2.input :name %>
	    <%= f2.input :description %>
	      
  </div>

  <div class="form-actions">
    <%= f2.button :submit, :class=>"btn btn-primary" %>
<%= link_to 'Cancel', project_path(@upload.project), :class=> "btn btn-default" %>
  </div>
    
<% end %>
</div>
</div>
